<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Nodemail test app</title>
		<link rel="stylesheet" href="/public/css/index.css">
		<script src="/public/js/client.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>