<div id="app-container">
	<h1>{{title}}</h1>
	{{#if msg}}
		<p>{{msg}}</p>
	{{else}}
		<form method="POST" action="send" id="email-form">
			<label for="emailMessage"></label>
			<input placeholder="Enter email message" id="email-message-text-area" name="emailMessage" type="text"></input>
			<button id="submit-email-button" type="submit">Submit</button>
		</form>
	{{/if}}
</div>
